.vp-code-group .tabs label:only-of-type {
  &::after {
    display: none;
  }
}
.VPLocalSearchBox {
  background: #00000066;
}
:root {
  --vp-local-search-bg: var(--wb-color-layer);
  --vp-c-divider: var(--wb-color-border-comp);
}

.dark:root {
  --vp-local-search-bg: var(--wb-color-popup);
}
