@import url(./vars.less);
@import url(./vp.less);

@font-face {
  font-family: HarmonyOS Sans;
  src: url(../assets/font/HarmonyOS_Sans_Regular.ttf) format('truetype');
  font-feature-settings: 'ss08';
}

html,
body {
  height: 100vh;
  background-color: rgb(10 10 10);
}
